<link rel="stylesheet" href="/assets/css/nav.css">
<nav>
    <div class="logo" onclick="location.href='/'">
    <img src="/assets/img/logo.png">
    <span>Bank SSR</span>
    </div>
    <ul>
    <% if(session.admin) { %>
        <li><a href="/admin/transactions">All Transactions</a></li>
        <li><a href="/admin/users">Manage Users</a></li>
        <li><a href="/admin/statistics">Statistics</a></li>
    <% } %>
    <li><a href="/logout">Logout</a></li>
    <li><a href="" style="pointer-events: none">Hi, <%= session.username %></a></li>
    </ul>
</nav>