<!DOCTYPE html>
<html>
<head>
  <title>Example Screen</title>
  <%- include('includes/imports') %>
  <link rel="stylesheet" href="assets/css/login.css">
  <script src="assets/js/login.js"></script>
</head>
<body>
  <div class="logo" onclick="location.href='/'">
    <img src="/assets/img/logo.png">
    <span id="bankName">Bank SSR</span>
  </div>
  <div class="container">
    <h2>Login</h2>
    <form id="login-form" onsubmit="login(event)">
      <label for="username">Username:</label>
      <input type="text" name="username" required>

      <label for="password">Password:</label>
      <input type="password" name="password" required>

      <input  type="submit" value="Login">
      <label id="error" class="error"></label>
    </form>
  </div>
</body>
</html>