/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Styling for the container that holds the login form */
.container {
    position: relative;
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Styling for the logo container */
.logo-container {
    margin-bottom: 20px;
}

/* Styling for the logo image */
.logo {
    max-width: 30%;
    height: auto;
}

/* Styling for the heading */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Styling for error messages */
.error {
    color: red;
    margin-top: 10px;
}

/* Styling for input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

/* Styling for input fields when focused */
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #5e5d5d;
}

/* Styling for the submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

/* Styling for the submit button when hovered */
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Additional logo styling */
.logo {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 26px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  /* Additional logo styling */
.logo {
margin-bottom: 30px;
align-items: flex-start;
}
  
/* Styling for logo image within the logo container */
.logo img {
width: 60px;
margin-bottom: 10px;
}